.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader .loader-icon {
    font-size: 6rem;
    animation: spin 1s linear infinite ;
}
.loader .loader-text {
    font-size: 2rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}