.product-card {
    padding: 0.8rem;
    margin: 0.5rem;
    margin-right: 1.4rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 15px;
}
.product-card button {
    float: right;
    width: 12rem;
    background-color: #2c8cff;
    color: white;
    border: 0;
    padding: 0.4rem;
    border-radius: 3px;
    cursor: pointer;
}
.info-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.info-grid img {
    max-width: 5rem;
}

.second-column, .third-column {
    display: flex;
    flex-direction: column;
}

.third-column {
    display: grid;
    grid-template-columns: 1fr;
}
.third-column span {
    text-align: right;
}

#price {
    font-size: 1.2rem;
    font-weight: bold;
}