header {
  border-bottom: 1px solid black;
  padding-bottom: 0.8rem;
}

.main-font {
  font-family: 'Unbounded';
}

header h1 {
  font-size: 1.6rem;
  margin-left: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 550px){
  header h1 {
    font-size: 0.7rem;
  }
  main {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}

section h2 {
  font-size: 1.2rem;
  margin-left: 1rem;
}

#cart {
  background-color: lightgray;
}

#cart h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#cart .cart-icon {
  font-size: 2rem;
}

#products, #cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}